services:
  # ----------------------------
  # MongoDB
  # ----------------------------
  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  # ----------------------------
  # RabbitMQ
  # ----------------------------
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    restart: always
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: rabbitmq
      RABBITMQ_DEFAULT_PASS: rabbitmq

    # ----------------------------
  # POSTGRES
  # ----------------------------
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_service_db

  # ----------------------------
  # USER SERVICE
  # ----------------------------
  user-service:
    build: ./user-service
    container_name: user_service
    ports:
      - "5001:5001"
    env_file:
      - ./user-service/.env
    depends_on:
      - mongo

  # ----------------------------
  # TASK SERVICE
  # ----------------------------
  task-service:
    build: ./task-service
    container_name: task_service
    ports:
      - "5002:5002"
    env_file:
      - ./task-service/.env
    depends_on:
      - postgres
      - rabbitmq

  # ----------------------------
  # NOTIFICATION SERVICE
  # ----------------------------
  notification-service:
    build: ./notification-service
    container_name: notification_service
    ports:
      - "5003:5003"
    env_file:
      - ./notification-service/.env
    depends_on:
      - rabbitmq

# ----------------------------
# VOLUMES
# ----------------------------
volumes:
  mongo_data:
  postgres_data:
