services:
  # ----------------------------
  # MongoDB
  # ----------------------------
  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    ports:
      - "27018:27017" # host:container
    volumes:
      - mongo_data:/data/db

  # ----------------------------
  # USER SERVICE
  # ----------------------------
  user-service:
    build: ./user-service
    container_name: user_service
    ports:
      - "5001:5001"
    env_file:
      - ./user-service/.env
    depends_on:
      - mongo

# ----------------------------
# VOLUMES
# ----------------------------
volumes:
  mongo_data:
