services:
  # ----------------------------
  # MongoDB
  # ----------------------------
  mongo:
    image: mongo:7
    container_name: mongo_db
    restart: always
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

  # ----------------------------
  # USER SERVICE
  # ----------------------------
  user-service:
    build: ./user-service
    container_name: user_service
    ports:
      - "5001:5001"
    env_file:
      - ./user-service/.env
    depends_on:
      - mongo

  # ----------------------------
  # POSTGRES
  # ----------------------------
  postgres:
    image: postgres:15
    container_name: postgres_db
    restart: always
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: task_service_db

  # ----------------------------
  # TASK SERVICE
  # ----------------------------
  task-service:
    build: ./task-service
    container_name: task_service
    ports:
      - "5002:5002"
    env_file:
      - ./task-service/.env
    depends_on:
      - postgres

# ----------------------------
# VOLUMES
# ----------------------------
volumes:
  mongo_data:
  postgres_data:
